*{
    margin: 0;
    padding: 0; 
}

body{
    width: 100%;
    height: 100vh;
    background-color: #F7FCFE;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #f2f2f2f2;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 30px;
}

.menu{
    height: 70px;
    background-color: #F7FCFE;
    position: fixed;
    width: 93%;
    z-index: 999;
    box-shadow: 0px 0px 10px #000000;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    
}

.logo{
    width: 25vh;
}

ul li {
    display: inline-block;
    padding: 0px 10px;
}

.menuit{
    text-decoration: none;
    color: black;
    font-family: "Roboto Flex", sans-serif;
    transition: color 0.3s;
    padding: 5px;
}

.sec{
    display: flex;
    flex-direction: column;
}

.landing{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 600px;
}

.div1 { grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    margin-left: 150px;
    margin-top: 100px;
    width: 400px;
}

.prflanding{
    text-align: justify;
    font-size: 18px;
    color: #545454;
}

.btnlanding{
    padding: 10px;
    border-style: none;
    background-color: #6953ED;
    color: #F7FCFE;
    border-radius: 8px;
    font-size: 18px;
}

.pslanding{
    margin-left: 20px;
    color: #545454;
}

.div1_1{
    margin-top: 20px;
}

.ttl{
    font-size: 60px;
    color: #545454;
    margin-bottom: 15px;
}

.div2 { grid-area: 2 / 1 / 3 / 2; 
    width: 100%;
    margin-left: 150px;
    margin-top: 30px;
    width: 400px;   
}

.div21{
    display: flex;
    align-items: center;
}

.vb{
    height: 30px;
}

.div3 { grid-area: 1 / 2 / 3 / 3;
    width: 100%;

}

.fdld{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow: visible;
}

/* Descripción de seccion */
.noticias{
    display: flex;
    border-radius: 20px;
    width: 60%;
    text-decoration: underline;
    font-size: 15px;
}

/* Sección posts */
.Sposts{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posts{
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 60%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.autor{
    display: flex;
}


/* Sección testimonios */
.contenedor{
    position: relative;
    margin-top: 100px;

}

.imagen{
    background-image: url("../media/fabrica2.webp");
    background-position: center;
    height: 300px;
    filter: blur(1px);
}

.blur{
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.4;
    filter: blur(1px);
    height: 100%;
    width: 100%;
}

.subcontenedor{
    display: flex;
}

.texto-superpuesto{
    position: absolute;
    top: 110px;
    left: 15%;
    color: aliceblue;
}

.testimonio1{
    position: absolute;
    top: 0;
    right: 20%;
    width: 20%;
    height: 100%;
}

/* Seccion Contacto */
.contacto{
    display: flex;
    margin: 0% 10% 0% 10%;
}

#contacto{
    display: flex;
    flex-direction: column;  
}

#contacto input, textarea{
    width: 90%;
    border-radius: 20px;
    margin: 0px 0px 5px 5px;
    padding: 7px 0px 7px 7px;
    border-style: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.btn-submit{
    width: 30%;
    border-radius: 5px;
    background-color: #6953ED;
    color: aliceblue;
    border-style: none;
    height: 25px;
    margin-left: 10px;

}

/* Sección footer */
footer{
    background-color: #303A48;
    margin-top: 40px;
    padding: 20px 0px 20px 0px;

}

footer a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 12px;
    color: aliceblue;
    text-align: right;
    margin: 2px 0px 2px 0px;
}

.imgfooter{
    width: 15px;
    height: 15px;
    padding: 5px;
}

.links{
    color: #f2f2f2f2;
    text-decoration: underline;
}


/* Sección Pseudo clases */
.menuit:hover{
    background-color: #6953ED;
    color: #f2f2f2f2;
    border-radius: 15px;
}

.links2:hover{
    color: #438DF1;
}

.btn-submit:hover{
    background-color: #438DF1;
    color: #f2f2f2f2;
    border-color: #438DF1;
    cursor: pointer;
}

.btnlanding:hover{
    cursor: pointer;
    background-color: #F4D03F;
}