* {
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.body {
   background: white;
}
.nav {
    position: relative;
    background-attachment: fixed;
    height: 90px;  
    background-color: beige;
    box-shadow: 0px 0px 10px #000000;
    position: relative;
    .logo{
        width: 30vh;
     }
   
     .li {  
        display: inline-block;
        position: relative;
        bottom: 30px;
        left: 300px;
        color: black;
        font-family: "Roboto Flex", sans-serif;
        padding: 10px;
        cursor: pointer; 
        &:hover {
            color: rgb(162, 84, 5);
        }    
    }
}

.box_h1 {
    box-sizing: border-box;
    display: block;
    width: auto;
    height: 8rem;
    background-color: #F4D03F;
    box-shadow: 0px 0px 10px #000000;
    position: relative;
    .h1 {
        background-image: url(/media/giphy.gif);
        background-clip: text;
        color: transparent;
        font-size: 80px;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        top: 18px;
    }
    .img1 {
       width: 300px;
       height: 250px;
       position: absolute;
       top: 175px;
       left: 1150px;
     }           
     .img2 {
        width: 130px;
        height: 90px;
        border-radius: 80px;
        position: absolute;
        top: 18px;
        left: 800px;
      }           
 }
 .section1 {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    width: 400px;
    height: 700px;
    border: 2px solid black;
    padding: 60px;
    background-color: #F4D03F;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
   .li2{
    cursor: pointer;
    &:visited {
        color: black;
    }
    &:active {
        color: black;
    }
    &:hover {
        color: rgb(244, 239, 234);
   }
 }
}
.section2 {
    box-sizing: border-box;
    display: inline-block;
    background-color:white;
    border-bottom: solid black;
    width: 700px;
    height: 690px;
    position: relative;
    top: 10px;
    left: 450px;
    overflow: auto;
    ::-webkit-scrollbar-track {
        width: 10px;
    }
}
.div_parrafos {
    box-sizing: border-box;
    position: relative;
    top: 10px;
}
h2 {
    font-size: 25px;
    padding: 10px;
}
p {
    font-size: 18px;
}
.footer {
    box-sizing: border-box;
    position: relative;
    top: 10px;
    width: auto;
    height: 200px;
    background-image: url(/media/fabrica.png);
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px #000000;
    background-size: cover;
    object-fit: cover;
   
    
      
}