* {
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.body {
    
    background-color: rgb(11, 8, 47);
    background-image: url(/media/fotoprogram1.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    .img1{
        width: 100px;
        height: 80px;
        border-radius: 100px;    
        border: solid black;
        position: absolute;
        top: 80px;
        left: 120px;
    }
    
}
.nav {
    height: 50px;  
    background-color: beige;
    box-shadow: 0px 0px 10px #000000;
    &:hover{
        color: rgb(162, 84, 5);
    }
    
      .li {
        &:hover {
            color: rgb(238, 243, 243);
        }
        display: inline-block;
        position: relative;
        bottom: 53px;
        left: 185px;
        color: black;
        font-family: "Roboto Flex", sans-serif;
        padding: 10px;

        cursor: pointer; 
    }
    .logo{
        width: 25vh;
    }
    
 }

.divh1 {
    box-sizing: border-box;
    display: flex;
    align-items: center; /*alinea vertical*/
    justify-content: center; /* Alineación horizontal */
    justify-content: center;
    background-size: cover;
    background-position: center;  
    border-radius: 20px;
    width: 1000px;
    height: 100px;
    border: 10px solid rgb(2, 4, 50);
    margin: auto;
    margin-top: 100px;
    color: black;
    text-align: center;
    text-shadow: 2px 2px white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 8px;
    word-spacing: 10px;
    font-style: italic;
    position: relative;
    bottom: 95px;
    
}

.divh2 {
    box-sizing: border-box;
    overflow:scroll;
    padding: 10px;
    width: 300px;
    height: 300px;
    border: 10px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 10px;
    background-image: linear-gradient(135deg, #4f7ba2, #042c6e); 
    position: relative;
    bottom: 100px;
    left: 45px;
    ::-webkit-scrollbar {
        width: 40px;
    }
    ::-webkit-scrollbar-track {
        background-color: blue;
    }
}
  
.hh2 {
    
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    background-color: blue;
    border-radius: 20px;
}
.parrafo1 {
    padding: 1px;
    text-align: center;
    font-size: 20px;
    color: white;
    letter-spacing: 5px;
    font-family: 'Times New Roman'times;
    line-height: 30px;

}